* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Playfair Display", serif;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  row-gap: 6.4rem;
}

.grid--2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.text-empty-space {
  display: block;
}

.heading-primary {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.25rem;
  text-align: center;
}

.btn {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  justify-self: center;
  width: fit-content;
}
