/* /////////////////////////// */
/* ///////////HEADER////////// */
/* ////////////////////////// */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.8rem;
  padding: 0 0.8rem;
  background-color: #e6f2e6;
}

.logo {
  display: block;
  width: auto;
  height: 3.6rem;
}

.nav-menu {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-menu-icon {
  font-size: 3.2rem;
  color: #003300;
}

.icon {
  display: block;
  max-width: 100%;
  height: auto;
}

/* /////////////////////////// */
/* /////////HERO SECTION////// */
/* /////////////////////////// */

.section-hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("pics-master/hero-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #e6f2e6;
  padding: 6.4rem 0;
}

.headline {
  text-align: center;
}

.hero-gallery {
  column-gap: 1.6rem;
  row-gap: 1.6rem;
}

.hero-gallery-pic {
  width: 100%;
  height: auto;
  border-radius: 8px;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 13, 0, 0.2),
    rgb(0, 13, 0, 0.2)
  );
}

.hero-cta {
  background-image: linear-gradient(to right bottom, #e6f2e6, #99cc99);
  color: #001a00;
  justify-self: center;
}
/* //////////////////////////////////////////// */
/* ///////////////FEATURED IN SECTION //////////*/
/* //////////////////////////////////////////// */

.section-featured-in {
  padding-top: 6.4rem;
  background-color: #e6f2e6;
}

.companies-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.6rem;
  column-gap: 1.6rem;
  align-items: center;
}

.company-logo {
  display: block;
  width: 100%;
  filter: brightness(0) saturate(100%) invert(7%) sepia(53%) saturate(2162%)
    hue-rotate(84deg) brightness(95%) contrast(105%);
  justify-items: center;
  align-items: center;
}

.company-logo-resize {
  width: 80%;
  justify-self: center;
  align-self: center;
}

/* ////////////////////////////////////// */
/* //////////FEATURES SECTION/////////// */
/* ///////////////////////////////////// */

.section-features {
  background-color: #e6f2e6;
  padding: 6.4rem 3.2rem;
  color: #001a00;
}

.feature-dropdown {
  max-width: 100%;
  overflow: hidden;
  background-color: #cce6cc;
  border-radius: 12px;
  box-shadow: 0 2.4rem 3.6rem rgba(0, 0, 0, 0.3);
}

.feature-dropdown .dropdown-click {
  display: none;
}

.dropdown-click:checked ~ .feature-content {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  justify-content: center;
  align-items: center;
}

.alternating-colors:nth-of-type(even) {
  background-color: #b3d9b3;
}

.feature-label {
  display: flex;
  font-size: 2rem;
  padding: 1.6rem 0.8rem;
  /* border-bottom: 1px solid #80c080; */
  cursor: pointer;
  position: relative;
}

.arrow-icon {
  align-self: center;
  font-size: 1.6rem;
  margin-left: auto;
}

.feature-content {
  padding: 1.6rem 0.8rem;
  display: none;
}

.feature-pic {
  display: inline-block;
  width: 80%;
  height: auto;
  margin: 1.6rem 0;
  border-radius: 10px;
}

/* ////////////////////////////////////// */
/* //////////TESTIMONIALS SECTION/////////// */
/* ///////////////////////////////////// */

.section-testimonials {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.2rem;
  background-color: #e6f2e6;
  color: #001a00;
  padding-bottom: 0.8rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}

.testimonial-img {
  width: 25%;
  border-radius: 50%;
}

.testimonial-name {
  color: #576d57;
}

/* ////////////////////////////////////// */
/* //////////GALLERY SECTION/////////// */
/* ///////////////////////////////////// */

.gallery {
  margin: 0 auto;
  padding: 0 0.8rem;
  display: grid;
  background-color: #e6f2e6;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.8rem;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
  image-rendering: crisp-edges;
}

.resize {
  object-position: right;
}

/* ////////////////////////////////////// */
/* //////////BUSINESS SECTION/////////// */
/* ///////////////////////////////////// */

.section-business {
  position: relative;
  overflow: hidden;
  color: #e6f2e6;
}

.business-text {
  padding: 6.4rem 3.2rem 0 3.2rem;
  width: 100%;
  background-color: rgb(0, 26, 0);
}

.heading-business {
  padding-bottom: 3.2rem;
}

/* .text-business {
  padding-bottom: 3.2rem;
} */

.business-img {
  padding: 0 3.2rem 20rem 3.2rem;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 26, 0, 1),
      rgba(0, 26, 0, 0.45),
      rgba(0, 26, 0, 0.3),
      rgba(0, 26, 0, 0),
      rgba(0, 26, 0, 0)
    ),
    linear-gradient(
      to right bottom,
      rgba(0, 26, 0, 0.8),
      rgba(0, 26, 0, 0.5),
      rgba(0, 26, 0, 0.3)
    ),
    url(pics-master/chef-guy.jpg);
  background-size: cover;
  background-position: top right 40%;
  background-repeat: no-repeat;
}

.text-business {
  padding-bottom: 4.8rem;
}

.business-cta {
  background-image: linear-gradient(to right bottom, #e6f2e6, #99cc99);
  color: #001a00;
  padding-top: 1.6rem;
}
